# Dependencies
node_modules/
functions/node_modules/

# Build
build/
.firebase/

# Env
.env.local
.env.*.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
